/* Empty. Add your own CSS if you like */

/* #604bff */
/* #9f92ff */

.bar.bar-stable {
  background-color: #AFA9FC;
  border-color: #604bff;
}

.bar.bar-stable .title {
  color: #F2F2F2;
}

ion-content {
  background-color: #A3A2E4 !important;
}
