<?xml version="1.0" encoding="UTF-8"?>
<!--
    MIT License

    Copyright (c) 2019 nearit.com

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-nearit"
        name="NearIT"
        version="2.10.0">

    <name>NearIT SDK</name>
    <description>Cordova plugin for NearIT SDK</description>
    <author>Fabio Cigliano</author>
    <license>MIT</license>

    <keywords>cordova,nearit,proximity</keywords>
    <repo>https://github.com/nearit/Cordova-SDK</repo>
    <issue>https://github.com/nearit/Cordova-SDK/issues</issue>

    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.4.0" />
        <engine name="cordova-android" version=">=6.2.3" />
    </engines>

    <hook type="after_plugin_add" src="hooks/before_prepare.js" />
    <hook type="before_prepare" src="hooks/before_prepare.js" />

    <js-module src="www/nearit.js" name="nearit">
        <runs />
        <clobbers target="nearit" />
    </js-module>

    <!-- iOs platform definition -->
    <platform name="ios">

        <!--
            Cocoa pods dependency
            https://github.com/blakgeek/cordova-plugin-cocoapods-support
        -->
        <dependency id="cordova-plugin-cocoapod-support" />

        <!--
            disabling use-frameworks due to
            https://issues.apache.org/jira/browse/CB-10072
        -->
        <pods-config ios-min-version="9.0"
                     use-frameworks="true" />

        <!--
            NearIT iOS SDK dependency
            https://github.com/nearit/Near-iOS-SDK
            Supporting iOS 9.0 and later
            Near-iOS-SDK release 2.10.7
        -->
        <pod name="NearITSDK" 
             configurations="release,debug"
             git="https://github.com/nearit/iOS-SDK"
             tag="2.10.7" />

        <pod name="NearUIBinding" 
             configurations="release,debug"
             git="https://github.com/nearit/iOS-UI-Bindings"
             tag="2.10.6" />

        <config-file target="config.xml" parent="/*">
            <feature name="NearIT">
                <param name="ios-package" value="CDVNearIT" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- required background modes -->
        <config-file platform="ios" target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
            </array>
        </config-file>

        <config-file platform="ios" target="*-Info.plist" parent="LSRequiresIPhoneOS">
            <true />
        </config-file>

        <!-- source files -->
        <header-file src="src/ios/Macros.h" />

        <header-file src="src/ios/NSObject+AssociatedObjectSupport.h" />
        <source-file src="src/ios/NSObject+AssociatedObjectSupport.m" />

        <header-file src="src/ios/AppDelegate+NearIT.h" />
        <source-file src="src/ios/AppDelegate+NearIT.m" />

        <header-file src="src/ios/CDVNearIT.h" />
        <source-file src="src/ios/CDVNearIT.m" />

        <header-file src="src/ios/CDVNearItUI.h" />
        <source-file src="src/ios/CDVNearItUI.m" />

        <header-file src="src/ios/CDVNearItPermissions.h" />
        <source-file src="src/ios/CDVNearItPermissions.m" />

        <header-file src="src/ios/NearITUtils.h" />
        <source-file src="src/ios/NearITUtils.m" />

        <header-file src="src/ios/NearITConsts.h" />
        <source-file src="src/ios/NearITConsts.m" />

    </platform>

    <!--    Android platform definition    -->
    <platform name="android">

        <!--    Add package to config.xml   -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="nearit">
                <param name="android-package" value="it.near.sdk.cordova.android.CDVNearIT" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!--    Add RECEIVE_BOOT_COMPLETED permission to Manifest   -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>

        <!--    Add source files    -->
        <source-file src="src/android/CDVNearIT.java" target-dir="src/it/near/sdk/cordova/android" />
        <source-file src="src/android/CDVNearITContentListener.java" target-dir="src/it/near/sdk/cordova/android" />
        <source-file src="src/android/NITHelper.java" target-dir="src/it/near/sdk/cordova/android" />
        <source-file src="src/android/NearITUtils.java" target-dir="src/it/near/sdk/cordova/android" />
        <source-file src="src/android/CDVNearItUI.java" target-dir="src/it/near/sdk/cordova/android" />

        <!--    Add strings to res  -->
        <source-file src="src/android/CDVNearITStrings.xml" target-dir="res/values" />

        <!--    Add gradle reference    -->
        <framework src="src/android/nearit.gradle" custom="true" type="gradleReference" />

    </platform>

    <hook type="after_prepare" src="hooks/after_prepare_android.js"/>
    <hook type="after_prepare" src="hooks/after_prepare_ios.js" />

</plugin>