<ion-view view-title="Account">
  <ion-content>
    <ul class="list">

      <div class="item item-divider">
        Set user data
      </div>
      <li class="item text-center">
        <button class="button button-calm" ng-click="setUserData('gender', 'M')">
          "gender" = "M"
        </button>
      </li>
      <li class="item text-center">
        <button class="button button-calm" ng-click="setUserData('gender', 'F')">
          "gender" = "F"
        </button>
      </li>
    </ul>

    </ion-list>
  </ion-content>
</ion-view>
