<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Welcome to NearIT Ionic demo app</h2>
    <p class="text-right">
      <button class="button button-assertive" onclick="window.clearLogs()">
        clear logs
      </button>
    </p>
    <hr>
    <div id="js_logs"></div>
    <br>
    <p>
      This is the sample Ionic app to test <i>cordova-sdk</i> functionality. For more information checkout the <a href="https://github.com/nearit/Cordova-SDK" target="_blank">Github project</a>.
    </p>
    <ul>
      <li>To test plugin available methods switch to <i>Action</i> tab.</li>
      <li>To try to set some user profile data switch to <i>Account</i> tab.</li>
      <li>Here below you can see some debug logs:</li>
    </ul>
    <p>
      <b>Psst!</b> - If you find some bug please feel free to open an <a href="https://github.com/nearit/Cordova-SDK/issues/" target="_blank">issue here</a> of feel free to contribute with a <a href="https://github.com/nearit/Cordova-SDK/pulls" target="_blank">pull-request</a>.
    </p>
  </ion-content>
</ion-view>
