<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Homepage & Debug logs Tab -->
  <ion-tab title="Home / Logs" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Actions Tab -->
  <ion-tab title="Action" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/action">
    <ion-nav-view name="tab-action"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Event" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/event">
    <ion-nav-view name="tab-event"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="User Data" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
