<ion-view>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="text-center padding">
            <button class="button button-stable" ng-click="refresh()">REFRESH CONFIGURATION</button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row align-items-stretch>
        <ion-col align-self-stretch>
          <div class="no-margin">
            <div id="js_logs"
                      style="width: 100%;"
            ></div>
          </div>
        </ion-col>
      </ion-row>


  </ion-content>
</ion-view>